@import url('common.css');

body{
    background: #ede0df;
}
article{
    margin: 0 auto;
    position: relative;
}
.content{
    padding-top: 79px;
}
.content li{
    width: 465px;
    height: 792px;
    background:url(../img/01.jpg) no-repeat center / cover;
    margin: 0 auto;
}
.text{
    position: absolute;
    left: calc(50% - 400px);
    top: 591px;
}
.text h2{
    font-size: 83px;
}
.text p{
    width: 260px;
    margin-top: 112px;
}
.number{
    height: 305px;
    position: absolute;
    right: calc(50% - 400px);
    top: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.number li:first-child{
    font-size:42px;
}