@import url('common.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');
/*
font-family: 'Open Sans', sans-serif;
*/


/* header */
body{
    width: 1668px;
    margin : 0 auto;
}
header{
    margin-top: 94px;
    margin-bottom: 77px;
}
header .top{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header h1{
    width: 178px;
    height: 40px;
    background: url(../img/logo.png) no-repeat center;
}
header nav{
    width: 455px;
    display: flex;
    justify-content: space-between;
}
header nav a{
    text-transform: uppercase;
    font-weight: bold;
}
header nav a:after{
    content:'';
    width: 0%;
    height: 5px;
    background:#000;
    display: block;
    transition: .4s;
    margin: 0 auto;
}
header nav a:hover:after{
    width:100%;
}


/* section */
section .visual{
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
section .visual > span{
    position: absolute;
    left: -30px; bottom: 0;
    transform: translateY(-150%) rotate(-90deg);
    font-weight: lighter;
    transform-origin: 0% 100%;
}
section .visual > span img{
    transform: rotate(90deg);
    margin-right: 10px;
}
section .visual figure{
    position: relative;
    overflow: hidden;
}
section .visual figure img{ 
    width: 100%;
    transform: translateX(100%);
    animation: spot 1s forwards;
}
@keyframes spot{
    0%{}
    100%{
        transform: translateX(0%);
    }
}

section .visual figure figcaption{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section .visual figure figcaption span{
    color:#fff;
    font-size: 5em;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0,0,0,.6);
    overflow: hidden;
    height: 110px;
    padding-top: 110px;
    transition: padding .5s;
    /*animation: txt .5s .5s forwards; */
}
/* section .visual figure figcaption span:nth-of-type(1){
    animation: txt .5s .5s forwards; 
}
section .visual figure figcaption span:nth-of-type(2){
    animation: txt .5s .7s forwards; 
} */
/* 
@keyframes txt{
    0%{}
    100%{
        padding-top: 0px;
    }
} */
section .visual figure:hover figcaption span{
    padding-top: 0;
}
section .visual figure figcaption span:nth-of-type(1){
    transition: .15s;
}

.slide{
    width: 1140px; margin: 90px auto;
    position: relative;
}
.slide ul{
    position: relative;
    height: 220px;
}
.slide ul li{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
}
.slide ul li figure{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide ul li figure p{ 
    order: 2;
}
.slide ul li figure p img{
   
}

.slide ul li figure figcaption{
    order: 1;
}
.slide ul li figure figcaption strong{
    font-size: 2.6em;
    font-weight: bold;
    text-transform:uppercase;
    /* white-space: pre-line; */
}
.slide ul li figure figcaption p{
    width: 360px;
    font-size: 15px;
    line-height: 30px;
    height: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.slide ul li figure figcaption a{
    width: 100%;
    margin-top: 20px;
    text-decoration: underline;
}
.slide .number{
    position: absolute;
    right: 0; top: -35px;
}
.slide .number code{
    font-size: 25px;
    font-weight: bolder;
}
.slide ul li{display: none;}
.slide ul li:first-of-type{display: block;}

/* section .content{
    width: 1140px;
    margin: 77px auto 0;
    display: flex;
    justify-content: space-between;
}
section .content .textBox{width: 360px;}
section .content .textBox h2{
    font-size: 60px;
    font-weight: bold;
    text-transform:uppercase;
}
section .content .textBox p{
    font-size: 15px;
    line-height: 30px;
    height: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
}

section .content figure{
    position: relative;
}
section .content figure figcaption{
font-weight: bolder;
font-size: 25px;
position: absolute;
right: 0; top: 0;
margin-top: -35px;
}
section .content figure span{
    width: 540px;
    height: 260px;
    background: url(../img/bg02.jpg) no-repeat center / cover;
} */
/* footer */

footer{
    width: 100%;
    background:#434343;
    margin-top: 100px;}
footer p{
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
    text-align: center;
    line-height: 81px;
}


