@import url('common.css');

html,body{height: 100%;
background: #000;}

article{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{font-size: 2em; color: #333; padding-bottom: 100px;}

article div{
    width: 500px; height: 500px;
    position: relative;
    padding: 150px 150px;
}

article div p{
    width: 200px; height: 200px;
    border-radius: 100%;
    background: red;
    animation: spin 10s linear infinite;
    position: absolute;
}
article div p:after{
    content: '';
    width: 30px; height: 30px;
    background:rgba(1,220,10,043);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    position: absolute;
    top: 250px;
    left: 250px;
    animation: spin_itself 4s linear infinite;
}
article div p:nth-of-type(1):after{
    content: '';
    animation: spin_itself 4s 0.5s linear infinite;
}
article div p:nth-of-type(2):after{
    content: '';
    animation: spin_itself 4s 1s linear infinite;
}
article div p:nth-of-type(3):after{
    content: '';
    animation: spin_itself 4s 1.5s linear infinite;
}
article div p:nth-of-type(4):after{
    content: '';
    animation: spin_itself 4s 2s linear infinite;
}
article div p:nth-of-type(5):after{
    content: '';
    animation: spin_itself 4s 2.5s linear infinite;
}
article div p:nth-of-type(6):after{
    content: '';
    animation: spin_itself 4s 3s linear infinite;
}
article div p:nth-of-type(7):after{
    content: '';
    animation: spin_itself 4s 3.5s linear infinite;
}
article div p:nth-of-type(8):after{
    content: '';
    animation: spin_itself 4s 4s linear infinite;
}
article div p:nth-of-type(9):after{
    content: '';
    animation: spin_itself 4s 4.5s linear infinite;
}
article div p:nth-of-type(10):after{
    content: '';
    animation: spin_itself 4s 5s linear infinite;
}
@keyframes spin{
    0%{transform: rotateZ(0)
    }
    100%{
        transform: rotateZ(360deg);
    }
}

@keyframes spin_itself{
    0%{transform: rotateX(0)
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg)  ;
    }
}