@import url('common.css');
@import url('bootstrap.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap');


/* font-family: 'Roboto', sans-serif; */


header{
    width: 16%;
    height: 100%;
    box-shadow: 5px 5px 30px #000;
    position: fixed;
    z-index: 100;
    background: #242b2e;
}
header h1{
height: 125px;
background: #fff url(../images/logo.png) no-repeat center;
margin: 0;
}

header ul li{
    background: linear-gradient(180deg, #2e363a, #333b3f);
    padding-right: 23px;
    text-align: end;
}
header ul li:hover{
    background: linear-gradient(180deg, #30bbb9, #1aa6a4);
}
header ul li a{
    width: 100%;
    text-decoration: none;
    text-decoration-line: none;
    line-height: 62px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
header ul li a:hover{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
header dl dt, dd{
    text-align: end;
    margin-right: 20px;
}
header dl dt{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #1ab5b3;
    font-size: 19px;
    line-height: 55px;
}
header dl dt i{
    margin-left: 10px;
    color: #1ab5b3;
    font-size: 19px;
}
header dl dd{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
    line-height: 24px;
    color:#6b7072;
}
header dl dd:hover{
    color:#fff;
}

header .sns{
    margin-top: 40px;
    margin-right: 16px;
    display: flex;
    justify-content: flex-end;
}

header .sns a:nth-of-type(1){
    width: 24px; height: 24px;
    margin-right: 4px;
    background: url(/images/ico.png);
}
header .sns a:nth-of-type(2){
    width: 24px; height: 24px;
    margin-right: 4px;
    background: url(/images/ico.png);
    background-position: -33px 0;
}
header .sns a:nth-of-type(3){
    width: 24px; height: 24px;
    margin-right: 4px;
    background: url(/images/ico.png);
    background-position: -67px 0;
}
header .sns a:nth-of-type(4){
    width: 24px; height: 24px;
    margin-right: 4px;
    background: url(/images/ico.png);
    background-position: -100px 0;
}
header .sns a:nth-of-type(5){
    width: 24px; height: 24px;
    margin-right: 4px;
    background: url(/images/ico.png);
    background-position: -133px 0;
}
header .sns a:nth-of-type(6){
    width: 24px; height: 24px;
    margin-right: 4px;
    background: url(/images/ico.png);
    background-position: -167px 0;
}
header .sns a:nth-of-type(7){
    width: 24px; height: 24px;
    margin-right: 4px;
    background: url(/images/ico.png);
    background-position: -201px 0;
}
header p{
    font-size: 12px;
    color: #6b7072;
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}




section{
    left: 16%;
}
section .row figure{
position: relative;
padding: 0;
margin: 0;
}
section .row figure img{
    width: 100%;
}
section .row figure .text{
    width: 100%; height: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(46,185,183,0.9);
    opacity: 0;
    transition: opacity .5s;
}
section .row figure .text h2{
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    position: absolute;
    top: 25%; left: 50%;
    transform: translate(-50%, -50%);
}
section .row figure .text p{
    color: #fff;
    position: absolute;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
}
section .row figure .text span{
    width: 107px;height: 1px;
    background: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
section .row figure .text a{
    width: 60px; height: 60px;
    border: 1px solid #fff;
    border-radius: 100%;
    position: absolute;
    top: 65%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
section .row figure:hover .text{
    opacity: 1;
}

section figure .text a i{
    color : #fff;
    font-size: 18px;
    margin-top:20px;
}


@media (max-width:992px){
    header{ height:auto; width:100%;}
    header ul{
        display:flex;
        justify-content: center;
        background:linear-gradient(to bottom,#333b3f,#2e363a);
        margin:0 !important;
    }
    header ul li{width: 12.5%;
    padding-right:0}
    header ul li a{
        font-size:2vw;
        text-align: center;
    }
    header .sns,dl,p{display:none;}
    section{width:100%; left:0;}
}