@import url('common.css');


/* header */

header{
    background: url(/index/img/backimg_01.jpg) no-repeat center 30% / cover;
    position: relative;
    box-shadow: rgba(0,0,0,.2) 6px 10px 50px;
    background-attachment: fixed;
}
header .top{
    background: rgba(0,0,0,.5);
}
header .top nav{
    width: 933px; 
    margin:0 auto;
    padding-top: 70px;
    display: flex; 
    justify-content: flex-end;
}
header .top nav a{
    margin-right:30px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
}
header .top nav a:after{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    top: 0; left:50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: .5s;
}
header .top nav a:hover:after{
    opacity: 1;
    transform: translate(-50%, -200%);
}

/* header .top nav a:after{
    content: '';
    display: block;
    width: 130%;
    height: 20px;
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    border-radius: 20px;
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 1;
} */
/* a를  after위로 올리고 싶은데 ..잘 안된다..  */

header .top .title{
    width: 933px; 
    margin:0 auto;
    padding-top: 70px;
    color: #fff;
}
header .top .title h1{
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.333rem;
    color:#fff;
}
header .top .title p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 2.222rem;
    padding-bottom: 155px;
    color:#fff;
}
header .top strong{
    color: #fff;
    font-weight: bold;
    font-size: 5rem;
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 50%; left: 60%;
}

.scroll{
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    border-radius: 100%;
    width: 47px; height: 47px;
    margin: -24px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: ani01 1s 0s infinite ease-in-out;
}
.scroll img{
    padding-left: 1px;
}
.scroll img:first-child{
    position: absolute;
    top: 5px;
    transform: scale(0.9);
    animation: ani02 1s 0s infinite ease-in-out;
}
.scroll img:last-child{
    position: absolute;
    top: -5px;
    transform: scale(0.8);
    animation: ani03 1s 0s infinite ease-in-out;
}
@keyframes ani01{
    0%{margin: -24px auto;}
    50%{margin: -10px auto;}
    100%{margin: -24px auto;}
}
@keyframes ani02{
    0%{top:5px}
    50%{top: 10px;}
    100%{top: 5px;}
}
@keyframes ani03{
    0%{top:-5px}
    50%{top: 0px;}
    100%{top: -5px;}
}
/* header-end */

/* section */
section .banner{
    width: 933px;
    margin: 68px auto 24px;
    display: flex;
    justify-content: space-between;
}
section .banner div{
    width: 303px;
    height: 181px;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
    position: relative;
}
section .banner div:after{
    content: '';
    width: 303px;
    height: 182px;
    background:rgba(0,0,0,.6);
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    transition: .5s;
    top: 0; left: 0;
    opacity: 0;
}
section .banner div a{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 1.556rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.667rem;
    position: absolute;
    top: 50%; left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: .5s;
}
section .banner div a strong{
    position: absolute;
    top: 50%; left: 50%;
    z-index: 3;
    transform: translate(-50%, -60%);
    color: #fff;
}
section .banner div a p{
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.667rem;
    position: absolute;
    top: 70%; left: 50%;
    z-index: 3;
    transform: translate(-50%, 0);
    color: #fff;
}
section .banner div:hover:after{
    opacity: 1;
}
section .banner div:hover a{
    opacity: 1;
}
section .banner div img{
    border-radius: 20px;
}

section .ticket{
    width: 933px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* section .ticket span{
    width: 2px;
    height: 41px;
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    margin: 0 auto;
} */
section .ticket p{
    font-weight: lighter;
    font-size: 1.667rem;
    color: #f15166;
    margin: 10px 0 8px;
}
section .ticket strong{
    font-weight: bold;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    color: #f15166;
}

section .ticket .btn{
    margin-top: 20px;
    text-align: center;
    /* background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119)); */
    position: relative;
}
section .ticket .btn a{
    display: block;
    width: 100%;
    color: #f14e65;
    font-weight: bold;
    font-size: 1.2rem;
    border-top: 3px solid #f14e65;
    border-bottom: 3px solid #f14e65;
    padding: 8px 5px;
    letter-spacing: .1rem;
    transition: .3s;
}
section .ticket .btn a:hover{
    letter-spacing: .3rem;
}

section .board{
    width: 933px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
section .board>div{
    width: 452px;
    box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
    position: relative;
    padding-bottom: 26px;
}
section .board div:after{
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid #f14e65;
    position: absolute;
    z-index: -1;
    top: 0; left: 0;
    opacity: 0;
    transition: .5s;
}
section .board div:hover:after{
    opacity: 1;
}
section .board div .top{
    padding-top: 26px;
    padding-left: 25px;
    display: flex;
    justify-content: flex-start;
}
section .board div .top strong{
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
}
section .board div .top p{
    font-weight: lighter;
    padding-top: 4px;
    font-size: 1.1rem;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 5px;
}
section .board div .top a{
    width: 16px;
    height: 16px;
    padding-top: 10px;
    margin-left: 250px;
}
section .board .information .top a{
    margin-left: 210px;
}
section .board div .top span{
    display: block;
    width: 16px;
    height: 2px;
    background: #111;
}
section .board div .top span:first-child{
    position: absolute;
}
section .board div .top span:last-child{
    transform: rotate(90deg);
}
section .board div ul{
    width: 411px;
    margin: 10px auto;
}
section .board div ul li{
    padding-bottom: 13px;
}
section .board div ul li a{
    font-size: 1rem;
    margin-left: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
    position: relative;
}
section .board div ul li .select:after{
    content: '';
    width: 8px;
    height: 8px;
    background: #f15166;
    border-radius: 100%;
    position: absolute;
    top: 20px; right: -12px;
    opacity: 0;
    transition: .3s; 
}
section .board div ul li .select:hover:after{
    opacity: 1;
    top: 10px;
}
section .board div ul li .pink{
    letter-spacing: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: #f14e65;
    margin-left: 0;
}
section .board div ul li .blue{
    font-size: 1.1rem;
    font-weight: bold;
    color: #4075c5;
    margin-left: 0;
}

section .board .information ul li{
    padding-bottom: 15px;
    text-align: center;
}
section .board .information ul li a{
    font-weight: normal;
}


section .lineup{
    box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
}
section .lineup .content{
    width: 933px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 220px;
}
section .lineup .content strong{
    font-weight: bold;
    font-size: 1.333rem;
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
}
section .lineup .content p{
    display: inline-block;
    font-weight: lighter;
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 1px;
}
section .lineup .content ul{
    position: absolute;
    left: 0%;
    display: flex;
    justify-content: space-between;
}
section .lineup .content ul li{
    margin-left:10px;
    padding-top: 26px;
    width: 153px;
    height: 150px;
    position: relative;
}
section .lineup .content ul li a{
    width: 153px;
    height: 150px;
}
section .lineup .content ul li a img{
    position: absolute;
}
section .lineup .content ul li a img:first-child{
    z-index: 2;
    opacity: 0;
    transition: 1s;
}
section .lineup .content ul li a img:last-child{
    z-index: 3;
    opacity: 1;
    transition: 1s;
}
section .lineup .content ul li:hover a img:first-child{
    z-index: 3;
    opacity: 1;
}
section .lineup .content ul li:hover a img:last-child{
    z-index: 2;
    opacity: 0;
}

section .video_map{
    width: 933px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
section .video_map .video{
    width: 649px;
    height: 419px;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
    position: relative;
    float: left;
}
section .video_map .video a img:first-child{
    position: absolute;
    top: 50%; left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    filter: blur(3px);
    transition: .5s;
}
section .video_map .video:hover a img:first-child{
    filter: blur(0);
}
section .video_map .video a{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    top: 50%; left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    text-align: center;
}
section .video_map .video a:after{
    content: '';
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.6);
    border-radius: 20px;
    position: absolute;
    top: 50%; left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
section .video_map .video a img:last-child{
    position: absolute;
    top: 50%; left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
}
section .video_map .map{
    float: right;
    display: flex;
    flex-direction: column;
}
section .video_map .map .see_map{
    display: inline-block;
    width: 258px;
    height: 257px;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
    position: relative;
    overflow: hidden;
}

section .video_map .map .see_map a{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.667rem;
    position: absolute;
    top: 50%; left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    text-align: center;
}
section .video_map .map .see_map strong{
    position: absolute;
    top: 50%; left: 50%;
    z-index: 3;
    color: #fff;
    transform: translate(-50%, -50%);
}
section .video_map .map .see_map p{
    color: #fff;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
}
section .video_map .map .see_map:after{
    content: '';
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.6);
    border-radius: 20px;
    position: absolute;
    top: 50%; left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
section .video_map .map .see_map img{
    position: absolute;
    top: 50%; left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: .5s;
}
section .video_map .map .see_map:hover img{
    transform: translate(-50%, -50%) scale(1.2);
}

section .video_map .map .location{
    width: 258px;
    height: 154px;
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    border-radius: 20px;
    box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
    position: relative;
    margin-top: 8px;
}
section .video_map .map .location a{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.667rem;
    position: absolute;
    top: 50%; left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s;
}
section .video_map .map .location a strong{
    color: #fff;
    position: absolute;
    top: 30%; left: 10%;
    z-index: 3;
    transform: translate(0, 0);
}
section .video_map .map .location a p{
    color: #fff;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.667rem;
    position: absolute;
    top: 100%; left: 0;
    z-index: 3;
    transform: translate(0, 0);
}
section .video_map .map .location img{
    float: right;
    height: 62px;
    padding-top: 38px;
    padding-right: 30px;
}

/* section-end */

/* footer */
footer{
    box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
}
footer .content{
    padding: 30px 0;
    width: 933px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
footer .conten>img{
    width: 198px;
}
footer .content .sns{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
footer .content .sns img{
    width: 37px;
}
/* footer-end */

@media (max-width:1024px){}

@media (max-width:768px){}

@media (max-width:480px){}