@import url('common.css');

body{
    background: #ede0df;
}
article{
    margin: 0 auto;
    position: relative;
    padding-top: 79px;
}
.text{
    position: absolute;
    left: calc(50% - 400px);
    top: 591px;
}
.text h2{
    font-size: 83px;
    visibility: visible;
}
.text p{
    width: 260px;
    margin-top: 112px;
}
.number{
    width: 33px;
    height: 305px;
    position: absolute;
    right: calc(50% - 400px);
    top: 322px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.number li a{
    position: relative;
    transition: .5s;
}
.number li a:after{
    content: '';
    width: 300px;
    height: 0px;
    border-right: 1px solid #000;
    position: absolute;
    top: 30px;
    right: 0;
    transition: .5s;
    opacity: 0;
}
.number li:hover a:after{
    height: 114px;
    opacity: 1;
}

.image1{
    position: absolute;
    top: -260px; left:-590px;
    z-index: -10;
    width: 465px;
    height: 792px;
    background:url(../img/01.jpg) no-repeat center / cover;
}
.image2{
    position: absolute;
    top: -260px; left:-590px;
    z-index: -11;
    width: 465px;
    height: 792px;
    background:url(../img/02.jpg) no-repeat center / cover;
}
.image3{
    position: absolute;
    top: -260px; left:-590px;
    z-index: -12;
    width: 465px;
    height: 792px;
    background:url(../img/03.jpg) no-repeat center / cover;
}

/* hover */
.number li:hover .image1{
    z-index: -4;
    transition: .5s
}
.number li:hover .image2{
    z-index: -3;
    transition: .5s
}
.number li:hover .image3{
    z-index: -2;
    transition: .5s
}
.number li:hover a{
    font-size: 42px;
    margin-top:0px;
    margin-bottom: 142px;
    transition: .5s;
}
.number li:hover a{
    font-size: 42px;
    margin-top:33px;
    margin-bottom:142px;
    transition: .5s;
}
.number li:hover a{
    font-size: 42px;
    margin-top:33px;
    margin-bottom:142px;
    transition: .5s
}


