html,body{
    margin:0px;
}
*{
    color:#bcbcbc;
}
ul,li{
    list-style-type: none;
}
a{
    color:#000;
    text-decoration: none;
}
span,em,strong,a{display: inline-block;}
*{
    margin:0;padding:0;
    font-family: 'Adobe Garamond Pro';
    font-size:13px;
    line-height: 15px;
    color:#000;
    font-weight: normal;
    box-sizing:border-box;
    /*
        border 또는 padding 넣어주면 
        width,height값이 변경됨
    
        box-sizing:border-box는 이러한 문제점을
        해결해줌 (width,height 값이 변경 안됨)
    */
    
}




