@import url('common.css');


/* header */

header{
    background: url("../img/subbackimg_02.jpg") no-repeat center 150% / cover;
    position: relative;
    box-shadow: rgba(0,0,0,.2) 6px 10px 50px;
    background-attachment: fixed;
}
header .top{
    background: rgba(0,0,0,.5);
}
header .top nav{
    width: 933px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex; 
    justify-content: flex-end;
}
header .top nav a{
    margin-right:30px;
    color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
}
header .top nav a:after{
    content: '';
    display: block;
    width: 0%;
    height: 120%;
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    border-radius: 10px;
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: .5s;
}
header .top nav a:nth-of-type(2):after{
    width: 100%;
    opacity: 1;
}
header .top nav a:hover:after{
    width: 100%;
    opacity: 1;
}
header .top nav a:before{
    content:attr(data-text);
    width:100%; height:100%;
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-37%, -37%);
    z-index:2;
    font-size: 1.1rem;
    color:#fff;
    animation: none;
}

header .top .title{
    width: 933px; 
    margin:0 auto;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}
header .top .title h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.333rem;
    color:#fff;
}
header .top .title p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 2.222rem;
    padding-bottom: 70px;
    padding-top: 10px;
    color:#fff;
    letter-spacing: .1rem;
}
header .top strong{
    color: #fff;
    font-weight: bold;
    font-size: 6rem;
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 50%; left: 60%;
}

.scroll{
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    border-radius: 100%;
    width: 47px; height: 47px;
    margin: -24px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: ani01 1s 0s infinite ease-in-out;
}
.scroll img{
    padding-left: 1px;
}
.scroll img:first-child{
    position: absolute;
    top: 5px;
    transform: scale(0.9);
    animation: ani02 1s 0s infinite ease-in-out;
}
.scroll img:last-child{
    position: absolute;
    top: -5px;
    transform: scale(0.8);
    animation: ani03 1s 0s infinite ease-in-out;
}
@keyframes ani01{
    0%{margin: -24px auto;}
    50%{margin: -10px auto;}
    100%{margin: -24px auto;}
}
@keyframes ani02{
    0%{top:5px}
    50%{top: 10px;}
    100%{top: 5px;}
}
@keyframes ani03{
    0%{top:-5px}
    50%{top: 0px;}
    100%{top: -5px;}
}
/* header-end */

/* section */
section{
    width: 60%;
    margin: 0 auto;
}
section h3{
    line-height: 50px;
    font-size: 2.2rem;
    font-weight: 600;
    padding-top: 100px;
}
section p{
    width: 15%;
    line-height: 30px;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    letter-spacing: 0.1rem;
    padding-bottom: 20px;
    margin-top: 10px;
    position: relative;
    color: #fff;
}
section p:nth-of-type(2){
    margin-left: 84%;
    margin-top: 60px;
}
section p:after{
    content: '';
    display: block;
    width: 100%;
    height: 70%;
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    border-radius: 10px;
    position: absolute;
    top: 30%; left:50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 1;
}
section .img-wrapper{
    display: flex;
    height: 50vh;
    position: relative;
}
section .img-wrapper:last-child{
    margin-bottom: 100px;
}
section .img-wrapper .img-main{
    width: 70%;
    border-radius: 20px;
    /* background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119)); */
    background: url('../img/lineup/lineup01.jpg') no-repeat center/ cover;
    box-shadow: rgba(0,0,0,.2) 2px 1px 10px;
}
section .img-wrapper i{
    color: #fff;
    font-size: 2rem;
    visibility: hidden;
    opacity: 0;
    transition: .8s;
}
section .img-wrapper:hover i:nth-of-type(1){
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: translateX(10px);
}
section .img-wrapper:hover i:nth-of-type(2){
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: translateX(10px);
}
section .img-wrapper i:nth-of-type(1){
    position: absolute;
    top:0; right: -20px;
    z-index: -1;
    color: lightcoral;
    transform: translateX(-30px);
}
section .img-wrapper i:nth-of-type(2){
    position: absolute;
    bottom: 0; right: -20px;
    z-index: -1;
    color: lightcoral;
    transform: translateX(-30px);
}
section .img-wrapper i:nth-of-type(3){
    position: absolute;
    top:0; right: 0;
    visibility: hidden;
}
section .img-wrapper i:nth-of-type(4){
    position: absolute;
    bottom: 0; right: 0;
    visibility: hidden;
}
section .img-wrapper:last-child:hover i:nth-of-type(1){
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: translateX(0);
}
section .img-wrapper:last-child:hover i:nth-of-type(2){
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: translateX(0);
}
section .img-wrapper:last-child i:nth-of-type(1){
    position: absolute;
    top:0; left: -20px;
    z-index: -1;
    color: lightcoral;
    transform: translateX(30px);
}
section .img-wrapper:last-child i:nth-of-type(2){
    position: absolute;
    bottom: 0; left: -20px;
    z-index: -1;
    color: lightcoral;
    transform: translateX(30px);
}
section .img-wrapper:last-child i:nth-of-type(3){
    position: absolute;
    top:0; left: 0;
    visibility: hidden;
}
section .img-wrapper:last-child i:nth-of-type(4){
    position: absolute;
    bottom: 0; left: 0;
    visibility: hidden;
}
section .img-wrapper:last-child .img-main{
    width: 65%;
    border-radius: 20px;
    background: url('../img/lineup/lineup02.jpg') no-repeat center/ cover;
    box-shadow: rgba(0,0,0,.2) 2px 1px 10px;
}
section .img-wrapper .img-sub{
    width: 30%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    overflow: auto;
}
section .img-wrapper:last-child .img-sub{
    margin-right: 10px;
}
section .img-wrapper .img-sub::-webkit-scrollbar{
    display: none;
}
section .img-wrapper .img-sub a{
    width: 49%;
    border-radius: 10px;
    margin-left: 3px;
    margin-top: 3px;
    position: relative;
    /* top: 10px; */
}
section .img-wrapper .img-sub a:before{
    content: '';
    display: block;
    padding-top: 100%;
}
section .img-wrapper .img-sub a:after{
    content: '';
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.5);
    border-radius: 10px;
    position: absolute;
    left:50%; top: 50%;
    transform: translate(-50%,-50%); 
}

section .img-wrapper .img-sub a:hover:after{
    background: none;
}
section .img-wrapper .img-sub a:nth-of-type(1){ 
    background: url('../img/lineup/10CM_official.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(2){ 
    background: url('../img/lineup/J_ust_official.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(3){ 
    background: url('../img/lineup/damgong_official.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(4){ 
    background: url('../img/lineup/DB_official.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(5){ 
    background: url('../img/lineup/motte_official.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(6){ 
    background: url('../img/lineup/soran_official.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(7){ 
    background: url('../img/lineup/standingegg-db.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(8){ 
    background: url('../img/lineup/ericnam_artistcb.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(9){ 
    background: url('../img/lineup/Nflying_official.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(10){ 
    background: url('../img/lineup/WH3N_official.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(11){ 
    background: url('../img/lineup/YDD_official.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(12){ 
    background: url('../img/lineup/younha_official-1.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(13){ 
    background: url('../img/lineup/jangbeomjune_official.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(14){ 
    background: url('../img/lineup/0907_zitten_main.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(15){ 
    background: url('../img/lineup/choinakta_official.jpg') no-repeat center / cover;
}
section .img-wrapper .img-sub a:nth-of-type(16){ 
    background: url('../img/lineup/ChoiYeGeun.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(1){ 
    background: url('../img/lineup/autumnvacation.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(2){ 
    background: url('../img/lineup/mmt_official.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(3){ 
    background: url('../img/lineup/kimsuyoung_official.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(4){ 
    background: url('../img/lineup/martinsmith_official.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(5){ 
    background: url('../img/lineup/BOL4_official.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(6){ 
    background: url('../img/lineup/SURL_official.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(7){ 
    background: url('../img/lineup/Thornapple_official.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(8){ 
    background: url('../img/lineup/owhen_official.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(9){ 
    background: url('../img/lineup/zairo_official-1.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(10){ 
    background: url('../img/lineup/JUNG-SEUNGHWAN.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(11){ 
    background: url('../img/lineup/JUNGJOONIL_official.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(12){ 
    background: url('../img/lineup/jooyoung_official.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(13){ 
    background: url('../img/lineup/pptz.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(14){ 
    background: url('../img/lineup/paulkim.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(15){ 
    background: url('../img/lineup/isaachong_artistdb.jpg') no-repeat center / cover;
}
section .img-wrapper:last-child .img-sub a:nth-of-type(16){ 
    background: url('../img/lineup/HYNN_artist_db.jpg') no-repeat center / cover;
}

/* section-end */

/* footer */
footer{
    box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
}
footer .content{
    padding: 30px 0;
    width: 933px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
footer .conten>img{
    width: 198px;
}
footer .content .sns{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
footer .content .sns img{
    width: 37px;
}
/* footer-end */

@media (max-width:1024px){}

@media (max-width:768px){}

@media (max-width:480px){}