@import url('common.css');


/* header */

header{
    background: url("../img/subbackimg_03.jpg") no-repeat center 150% / cover;
    position: relative;
    box-shadow: rgba(0,0,0,.2) 6px 10px 50px;
    background-attachment: fixed;
}
header .top{
    height: 600px;
    background: rgba(0,0,0,.5);
}
header .top nav{
    width: 933px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex; 
    justify-content: flex-end;
}
header .top nav a{
    margin-right:30px;
    color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
}
header .top nav a:after{
    content: '';
    display: block;
    width: 0%;
    height: 120%;
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    border-radius: 10px;
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: .5s;
}
header .top nav a:nth-of-type(4):after{
    width: 100%;
    opacity: 1;
}
header .top nav a:hover:after{
    width: 100%;
    opacity: 1;
}
header .top nav a:before{
    content:attr(data-text);
    width:100%; height:100%;
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-37%, -37%);
    z-index:2;
    font-size: 1.1rem;
    color:#fff;
    animation: none;
}

header .top .title{
    width: 933px; 
    margin:0 auto;
    color: #fff;
    padding: 160px 0;
    text-align: center;
}
header .top .title h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.333rem;
    color:#fff;
}
header .top .title p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 2.222rem;
    padding-bottom: 70px;
    padding-top: 10px;
    color:#fff;
}
header .top strong{
    color: #fff;
    font-weight: bold;
    font-size: 6rem;
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 50%; left: 60%;
}

.scroll{
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    border-radius: 100%;
    width: 47px; height: 47px;
    margin: -24px auto;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: ani01 1s 0s infinite ease-in-out;
}
.scroll img{
    padding-left: 1px;
}
.scroll img:first-child{
    position: absolute;
    top: 5px;
    transform: scale(0.9);
    animation: ani02 1s 0s infinite ease-in-out;
}
.scroll img:last-child{
    position: absolute;
    top: -5px;
    transform: scale(0.8);
    animation: ani03 1s 0s infinite ease-in-out;
}
@keyframes ani01{
    0%{margin: -24px auto;}
    50%{margin: -10px auto;}
    100%{margin: -24px auto;}
}
@keyframes ani02{
    0%{top:5px}
    50%{top: 10px;}
    100%{top: 5px;}
}
@keyframes ani03{
    0%{top:-5px}
    50%{top: 0px;}
    100%{top: -5px;}
}
/* header-end */

/* section */
section{
    position: relative;
}
section .ticket_nav{
    width: 600px;
    margin: 130px auto 70px;
    display: flex;
    justify-content: center;
}
section .ticket_nav a{
    line-height: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    padding: 0 80px;
    border-left: 1px solid rgba(0,0,0,.4);
    border-right: 1px solid rgba(0,0,0,.1);
}
section .ticket_nav a:first-child{
    border-left: none;
}
section .ticket_nav a:last-child{
    border-right: none;
}
section .main_content{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
section .main_content:last-child{
    display: none;
}
section .main_content .content{
    width: 100%;
    padding-top: 10px;
}
section .main_content .content .title{
    width: 100%;
    margin: 30px auto;
}
section .main_content .content .title h3{
    text-align: center;
    line-height: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 20px;
}
section .main_content .content .title p{
    text-align: center;
    padding:10px 0;
    line-height: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}
section .main_content .content .ticket_link{
    width: 50%;
    padding: 15px 0;
    margin: 50px auto 80px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
}
section .main_content .content .ticket_link a{
    text-align: center;
    line-height: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding: 3px 50px;
    position: relative;
    border-left: 1px solid rgba(0,0,0,.3);
    border-right: 1px solid rgba(255,255,255,.3);
}
section .main_content .content .ticket_link .fullsize_a{
    width: 100%;
}
section .main_content .content .ticket_link a:first-child{ 
    border-left: none;
}
section .main_content .content .ticket_link a:last-child{ 
    border-right: none;
}

section .main_content .content ul{
    margin: 0 auto;
}
section .main_content .content ul li{
    padding:18px 0 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 150px;
    opacity: 0;
}
section .main_content .content ul li:nth-of-type(2n){
    padding:5px 0 20px;
}
section .main_content .content ul li strong{
    text-align: center;
    line-height: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}
section .main_content .content ul li em{
    text-align: center;
    line-height: 2rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: lineheight .5s;
}
section .main_content .content ul li p{
    text-align: center;
    line-height: 2rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    transition: lineheight .5s;
    word-break: keep-all;
}
section .main_content .content ul li:last-child{
    width: 70%;
}
section .main_content .content ul li.active{
    animation: scrollani 2s forwards;
}
@keyframes scrollani{
    0%{
        margin-top: 150px;
    }
    20%{
        margin-top: -8px;
    }
    40%{
        margin-top: 8px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
/* section-end */

/* footer */
footer{
    margin-top: 50px;
    box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
}
footer .content{
    padding: 30px 0;
    width: 933px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
footer .conten>img{
    width: 198px;
}
footer .content .sns{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
footer .content .sns img{
    width: 37px;
}
/* footer-end */

@media (max-width:1024px){}

@media (max-width:768px){}

@media (max-width:480px){}