@import url('common.css');


/* header */

header{
    background: url("../img/subbackimg_01.jpg") no-repeat center 150% / cover;
    position: relative;
    box-shadow: rgba(0,0,0,.2) 6px 10px 50px;
    background-attachment: fixed;
}
header .top{
    height: 600px;
    background: rgba(0,0,0,.5);
}
header .top nav{
    width: 933px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex; 
    justify-content: flex-end;
}
header .top nav a{
    margin-right:30px;
    color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
}
header .top nav a:after{
    content: '';
    display: block;
    width: 0%;
    height: 120%;
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    border-radius: 10px;
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: .5s;
}
header .top nav a:nth-of-type(2):after{
    width: 100%;
    opacity: 1;
}
header .top nav a:hover:after{
    width: 100%;
    opacity: 1;
}
header .top nav a:before{
    content:attr(data-text);
    width:100%; height:100%;
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-37%, -37%);
    z-index:2;
    font-size: 1.1rem;
    color:#fff;
    animation: none;
}

header .top .title{
    width: 933px; 
    margin:0 auto;
    color: #fff;
    padding: 160px 0;
    text-align: center;
}
header .top .title h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.333rem;
    color:#fff;
}
header .top .title p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 2.222rem;
    padding-bottom: 70px;
    padding-top: 10px;
    color:#fff;
}
header .top strong{
    color: #fff;
    font-weight: bold;
    font-size: 6rem;
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 50%; left: 60%;
}

.scroll{
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    border-radius: 100%;
    width: 47px; height: 47px;
    margin: -24px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: ani01 1s 0s infinite ease-in-out;
}
.scroll img{
    padding-left: 1px;
}
.scroll img:first-child{
    position: absolute;
    top: 5px;
    transform: scale(0.9);
    animation: ani02 1s 0s infinite ease-in-out;
}
.scroll img:last-child{
    position: absolute;
    top: -5px;
    transform: scale(0.8);
    animation: ani03 1s 0s infinite ease-in-out;
}
@keyframes ani01{
    0%{margin: -24px auto;}
    50%{margin: -10px auto;}
    100%{margin: -24px auto;}
}
@keyframes ani02{
    0%{top:5px}
    50%{top: 10px;}
    100%{top: 5px;}
}
@keyframes ani03{
    0%{top:-5px}
    50%{top: 0px;}
    100%{top: -5px;}
}
/* header-end */

/* section */

section .logo{
    width: 933px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .logo .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
section .logo p{
    font-weight: lighter;
    font-size: 1.667rem;
    color: #f15166;
    margin: 10px 0 8px;
}
section .logo strong{
    font-weight: bold;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    color: #f15166;
}
section .logo img{
    padding-top: 10px;
    width: 198px;
    height: 41px;
}
section .image{
    margin: 0 auto;
    width: 60%;
    height: 400px;
    background: url("../img/backimg_01.jpg") no-repeat center/ cover;
    /* background-attachment: fixed; */
    margin-bottom: 100px;
}
section article{
    width: 933px;
    margin: 0 auto;
}
section article h3{
    opacity: 0;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
    visibility: visible;
}
section article p {
    opacity: 0;
    font-size:1rem;
    line-height: 2rem;
    margin-top: 150px;
    margin-bottom: 40px;
    text-align: center;
    word-break: keep-all;
    visibility: visible;
}
section article h3.active{
    animation: scrollani 2s forwards;
}
section article p.active{
    animation: scrollani 2s forwards;
}
@keyframes scrollani{
    0%{
        margin-top: 150px;
    }
    20%{
        margin-top: -8px;
    }
    40%{
        margin-top: 8px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
/* section-end */

/* footer */
footer{
    box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
}
footer .content{
    padding: 30px 0;
    width: 933px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
footer .conten>img{
    width: 198px;
}
footer .content .sns{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
footer .content .sns img{
    width: 37px;
}
/* footer-end */

@media (max-width:1024px){}

@media (max-width:768px){}

@media (max-width:480px){}